<div class="sidebar-component-left">
    <div class="bttn">
        <img src="../../assets/avatar.jpg" class="avatar">
        <a>My profile</a>
    </div>
    <div class="bttn">
        <img src="../../assets/saved.png">
        <a>Saved</a>
    </div>
    <div class="bttn">
        <img src="../../assets/trending.png">
        <a>Trending</a>
    </div>
    <div class="bttn">
        <img src="../../assets/settings.png">
        <a>Settings</a>
    </div>
    <div class="logout-container">
        <img src="../../assets/logout.png" alt="" (click)="logout()">
    </div>
</div>
