<div class="navbar">
    <!--TODO: csak akkor legywn shadow ha görgetve van-->
    <a routerLink="/home">
        <img src="assets/logo-full.png" alt="Logo" class="title">
    </a>
    
    <div class="avatar">
        <a routerLink="/profile/12345">
            <img src="assets/avatar.jpg" alt="Profile Picture">
        </a>
    </div>
    <a routerLink="/search">
        <img src="assets/search.png" alt="Logo" class="search">
    </a>
    <a routerLink="/notifications">
        <img src="assets/notification.png" alt="Logo" class="search">
    </a>
    <a routerLink="/messages">
        <img src="assets/chat.png" alt="Logo" class="search">
    </a>

</div>
